@using Interns2.Domain.Domains;
@model Film
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <span>Tilte: @Model.Title</span> <br />
    <span>Des: @Model.Description</span> <br />
    <span>Datepub: @Model.DatePublish</span> <br />
    <span>Pub: @Model.Producer</span> <br />    
</div>
