@using Interns2.Domain.Domains;
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="~/Films/Detail/@item.Id">@item.Title</a>  - <span>@item.Description</span> -<span>@item.DatePublish</span>
            </li>
        }
    </ul>
</div>
