@using Interns2.Domain.Domains;
@model List<Film>
@{
    ViewData["Title"] = "Films Page";
}

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.Title</span> - <span>@item.Id</span>
                
            </li>
        }
    </ul>
</div>


